{% extends 'base.html' %}
{% load helpers %}

{% block content %}
<h2>
    <div class="float-left">{{ order }}
        <a href="{{ order.get_edit_url }}" title="Редактировать"><i class="fas fa-edit">&#xf044;</i></a>
        <a href="{{ order.get_confirm_url }}" title="Подтвердить"><i class="far fa-check-square">&#xf14a;</i></a>
        <a href="{% url 'orders:create' %}" title="Новый заказ"><i class="fas fa-plus">&#xf067;</i></a>
        <a href="{{ order.get_delete_url }}" title="Удалить" class="text-danger"><i
                class="fas fa-minus">&#xf068;</i></a>
    </div>
    <div class="float-right">
        <a href="{% url 'orders:list' %}" title="Список"><i class="far fa-list-alt">&#xf022;</i></a>
    </div>
</h2>
<hr/>
<div class="table-responsive">
    <table class="table table-sm table-bordered">
        <thead>
        <tr>
            {% for header in order_table_header %}
            <th {% if not forloop.first %}class="text-center" {% endif %}>{{header.1}}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for customer_order in order_table %}
        <tr>
            {% for header in order_table_header %}
            {% if forloop.first %}
            <th><a href="{{ customer_order | key:header.0 | key:" get_absolute_url" }}">{{ customer_order | key:header.0
                }}</a></th>
            {% else %}
            <td class="text-center">
                {% with amount_pair=customer_order|key:header.0 %}
                {{ amount_pair.amount | default:"-" }}
                ( {{ amount_pair.confirmed | default_if_none:"-"}} )
                {% endwith %}
            </td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            {% for header in order_table_header %}
            {% if forloop.first %}
            <th>{{ order_table_footer | key:header.0 }}</th>
            {% else %}
            <th class="text-center">
                {% with amount_pair=order_table_footer|key:header.0 %}
                {{ amount_pair.amount | default:"-" }}
                ( {{ amount_pair.confirmed | default:"-" }} )
                {% endwith %}
            </th>
            {% endif %}
            {% endfor %}
        </tr>
        </tfoot>
    </table>
    <p>Предварительная сумма заказа <span class="font-weight-bold">{{ order.order_cost }}.00 &#8381;</span></p>
    {% if order.confirmed_cost %}
    <p>Окончательная сумма заказа <span class="font-weight-bold">{{ order.confirmed_cost }}.00 &#8381;</span></p>
    {% endif %}
    <form action="#" id="message_form">
        <h5>СМС</h5>
        <div class="input-group">
            <textarea class="form-control" id="message" name="body">Добрый день. На этой неделе {% for product_type_message in order_message %}{{ product_type_message.0 | lower }}:{% for product_message in product_type_message.1 %}{{ product_message.1 }}{% if product_message.0.name %}*{{ product_message.0.name }}{% endif %}, {% endfor %}{%endfor%}</textarea>
        </div>
        <input class="btn btn-primary" type="submit" value="Отправить">
    </form>
</div>
{% endblock %}

{% block bootstrap4_extra_script %}
{{ block.super }}
<script>
    var el = document.getElementById('message_form');
    el.addEventListener('submit', function(event){
        window.open('sms:{{order_phone}}?body='+document.getElementById('message').value);
        event.preventDefault();
        return false;
    })


</script>
{% endblock %}