{% extends 'base.html' %}
{% load helpers %}

{% block content %}
<h2>{{ order }}
    <a href="{{ order.get_edit_url }}" title="Редактировать"><i class="fas fa-edit">&#xf044;</i></a>
    <a href="{{ order.get_confirm_url }}" title="Подтвердить"><i class="far fa-check-square">&#xf14a;</i></a>
    <a href="{% url 'orders:create' %}" title="Новый заказ"><i class="fas fa-plus">&#xf067;</i></a>
</h2>
<hr/>
<div class="table-responsive">
    <table class="table table-sm table-bordered">
        <thead>
        <tr>
            {% for header in order_table_header %}
            <th {% if not forloop.first %}class="text-center" {% endif %}>{{header.1}}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for customer_order in order_table %}
        <tr>
            {% for header in order_table_header %}
            {% if forloop.first %}
            <th>{{ customer_order | key:header.0 }}</th>
            {% else %}
            <td class="text-center">
                {% with amount_pair=customer_order|key:header.0 %}
                {{ amount_pair.amount | default:"-" }}
                ( {{ amount_pair.confirmed | default:"-" }} )
                {% endwith %}
            </td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            {% for header in order_table_header %}
            {% if forloop.first %}
            <th>{{ order_table_footer | key:header.0 }}</th>
            {% else %}
            <th class="text-center">
                {% with amount_pair=order_table_footer|key:header.0 %}
                {{ amount_pair.amount | default:"-" }}
                ( {{ amount_pair.confirmed | default:"-" }} )
                {% endwith %}
            </th>
            {% endif %}
            {% endfor %}
        </tr>
        </tfoot>
    </table>
</div>{% endblock %}
