{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<form method="post" role="form">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal'%}
    <h2>{{ object }}</h2>
    <hr/>
    <table class="table table-sm table-bordered">
        <thead>
        <tr>
            <th>{% bootstrap_label form.formset.empty_form.customer.label %}</th>
        {% for field in form.formset.empty_form.visible_fields %}
            <th class="text-center">{% bootstrap_label field.label %}</th>
        {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for subform in form.formset %}
        <tr>
            <th>
                {{subform.instance.customer}}
                {% for field in subform.hidden_fields %}{{field}}{%endfor%}
            </th>
            {% for field in subform.visible_fields %}
            <td>{% bootstrap_field field show_label=False %}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ form.formset.management_form }}
    {% buttons submit='OK' reset='Cancel'%}
    {% endbuttons %}
</form>
{% endblock %}
